body        {background-image:url("../images/brooke-lark-158019.jpg");
            background-attachment: fixed;
            background-size:100%;
            background-position: center;
            background-repeat: no-repeat;}
.main{      background-color: rgba(300,300,300,0.6);
            text-align: center;
            margin: 150px 150px;
            border-style:solid;
            border-radius: 20PX;
            border-width: 5px;
            border-style:solid
            border-spacing: 30px 30px;
            border-color:rgb(100, 200, 200);
            padding:30px 50px 20px 50px;}
p           {font-family: 'Alegreya SC';
            font-size: 20px;
            font-size: 60px;
            color: black;
            font-stretch: condensed;
            font-weight: bold;}


#logo       {display: block;
            margin-right: auto;
            margin-left: auto;
            margin-top:10px;
            border-radius: 20px;
            border-style: solid;
            border-color: white;
            border-width:3px;
            }
table       {border:3px solid black;
            margin-left:auto;
            margin-right:auto;
            width:800px;
            opacity:1;}
td          {height:50px;
            font-family: 'Alegreya SC';
            font-size:20px; font-weight: bold;
            border-radius:3px;
            border:1px solid black;
            text-align:center;}
#addButId, #submitbutton {margin:10px;
            padding: 10px;
            border-radius:10px;
            border-style: bold;
            border-color: white;
            font-family: 'Alegreya SC';
            font-size: 15px;
            width:20%;}
tBody       {background-color:white;}

.topnav {
  overflow: hidden;
  background-color:rgba(0,0,0,0.7);
  text-align: center;}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  position: relative;
  top: 0;
  left: 0;
  transform: none;}

.topnav a:hover {
  background-color: rgb(300,300,300);
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.nav-bar-center{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
