<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/css?family=Alegreya SC" rel="stylesheet">
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/javascript/jquery-3.3.1.min.js"></script>
<script src="../static/javascript/script.js"></script>

<div class="topnav">

  <a href="/">Home</a>

</div>
<title>My project</title>
</head>
<body>

<div class="logo"><img id="logo" src='../static/images/icon-above-font.png' alt='Nutrition Checker' width="300" height="300"/>
</div>

<div class="main">
  <p>Thank you</p>
  <p style="color:blue;"><i> Matched Item: {{myItem}}</i></p>
  <table>
    <tbody>
    <tr>
        <td>Energy</td>
        <td>Protein</td>
        <td>Fat</td>
        <td>Carbs</td>
        <td>Fibre</td>
    </tr>
    <tr>
        <td>{{myItemtwo['ENERC_KCAL']}} kcal</td>
        <td>{{myItemtwo['PROCNT']}} g</td>
        <td>{{myItemtwo['FAT']}} g</td>
        <td>{{myItemtwo['CHOCDF']}} g</td>
        <td>{{myItemtwo['FIBTG']}} g</td>
    </tr>

</tbody></table></p>

<!-- <form method="post" action="Process">

      <table id="pTable">
        <tbody>
        <tr>
            <td>S.No</td>
            <td>FOOD</td>
            <td>Portion</td>
            <td>Time</td>
            <td>Action</td>
        </tr>

    </tbody></table>
    <input id="addButId" class="btn btn-success"type="button" value="Add More Food">
    <input id="submitbutton" type="submit" class="btn btn-success"value="I Am Done">
</form> -->
</body>
  </html>
